<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>
<body>
{% extends 'base.html'%}
{%block content%}

<h1>About Us</h1>
<p>1. A Sign up page for users<br/>
2. A page where users can fill in their medical information with relevant questions depending on the developer's discretion to be stored in a Database, <br/>SQLite would do just fine.<br/>
3. A page that displays the statistical details of the medical records gotten from the users(all users can view this page). <br/>e.g A chart that shows the count for users with Ebola.<br/>
4. A table that displays all users and their relevant medical records, <br/>this page should be available to an admin user only.
</p>

{%endblock%}
</body>
</html>